:root{
    box-sizing: border-box;
    font-size: calc(0.5vw + 0.8em);
    font-family: 'Quicksand';
}
*, *::after, *::before{
    box-sizing: border-box;
}
body, body > *{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style-type: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}
button{
    font-size: 1em;
    padding: .4em .6em;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    border-radius: 3px;
}
img{
    max-width: 3em;
    height: auto;
}
input {
    border: none;
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
}
header >*{
    padding: 0.5em 1em; 
}
header .top{
    background-color: #555555;
    color: white; 
}
header .top p{
    margin: 0 auto;
    max-width: 1080px;
}
header section >div{
    background-color: white;
    display: flex;
    margin: 0 auto;
    max-width: 1080px;
} 
.menu{
    transform: rotate(90deg);
    font-weight: bolder;
    border: 1px solid hsl(214, 83%, 58%);;
    color: hsl(214, 83%, 58%);
    padding: .3em;
} 
.logo{
    margin-right: auto ;
    color: hsl(214, 83%, 58%);
    font-size: 1.3rem;
}
header nav{
    background-color: white;
    display:none;
}
.open {
    display: block ;
}
nav ul{
    margin: 0 auto;
    max-width: 1080px;
}
header nav ul li a {
    color: rgb(56, 56, 56);  
    display: block;
    font-size: .7em;
    padding: 1em 1em 1em 0; 
    font-weight: bold;
    font-family: 'Montserrat';
    text-transform: uppercase;
    animation: enter .5s ease-in ;
}
.diff a{
    margin-left: auto;
    margin-right: 0;
    background-color: hsl(214, 83%, 51%);
    padding-left: .4em;
    padding-right: .4em;
    color: white;
}
main > section{
    padding:2em 1em;
}
.hero{
    background-color: hsl(34, 83%, 51%, 0.4);
    background-image: url('../../../media/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    padding-top: 4em;
    padding-bottom: 7em;
    background-blend-mode: darken;
}
.hero > *{
    max-width: 1080px;
    margin: 0 auto;
    color: white;
}
.hero h1{
    text-shadow: 1px 1px 10px #6d6d6d;
    font-size: 3em;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-bottom: .5em;
}
.hero button{
    background-color: hsl(214, 83%, 51%);
    color: white;
    box-shadow: 1px 1px 5px #aaaaaa;
}
.tiles{
    max-width: 1080px;
    margin: 0 auto;
}
.tile-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.first-tile > div{
    background-color: hsl(214, 83%, 51%);
    text-align: center;
    color:white;
    border-radius: 5px;
    flex-grow: 1;
    padding: 1em;
}
.first-tile > *+*{
    margin-top: 1em ;
}
.first-tile > div:nth-child(2n){
    background-color: hsl(214, 83%, 58%);
}
.first-tile > div > *+*{
    margin-top: .2em ;
}
.first-tile > div button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.slide{
    background-color: #e6e6e6;
}
.slide > *{
    max-width: 1080px;
    margin: 0 auto;
}
.slide h3{
    padding: 1em;
    padding-left: 0;
    color: hsl(214, 83%, 51%);
}
.slidebar{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 1em;
}
.slidebar .navigator{
    background-color:rgb(37, 37, 37, 0.5);
    color: white;
    position: sticky;
    top:5%;
    font-size: .8em;
    z-index: 1;
    margin: auto 0;
    padding: .3em .5em;
    height: fit-content;
    border-radius: 200px;
    font-weight: 800;
}
 .prev{
    left: 0;
}
.next{
    right: 0;
} 
.slidebar > div{
    background-color: rgb(255, 255, 255);
    text-align : center;
    margin: 1em;
    border-radius: 5px;
    padding: 1em;
    font-size: .8em;
}
.slidebar img{
    max-width: 10em;
    border-radius: 50%;
}
.slidebar button{
    background-color: hsl(214, 83%, 51%, 0.8);
    color: white;
}
.second-tile > div{
    margin: 1em 0;
    padding: 1em;
    text-align: left;
    flex-grow: 1;
    color: #1d1d1d;
    background-color: white;
}
.second-tile > div h3{
    color: hsl(214, 83%, 58%);
}
.second-tile > div li{
    margin: 0;
    padding: .5em;
    border: 0.01em solid hsla(214, 83%, 58%, 0.3);
}

.second-tile > div button{
    color: white;
    background-color: hsla(214, 83%, 58%, 1); 
    font-size: 0.7rem;
}
.ctactn{
    background-color: hsla(36, 83%, 58%, 0.7);
}
.cta{
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.cta >*{
    margin: .5em auto;
}
.cta h4{
    font-size: 2rem;
    font-family: 'Montserrat';
}
.cta input {
    padding: 1em 3em;
}
.cta button{
    background-color: hsl(214, 83%, 51%, 0.8);
    color: white;
}
footer{
    background-color: #555555;
    color: white; 
    padding: 0.1em 1em; 
}
.third-tile > div{
    max-width: 300px;
}
footer nav{
    margin-top: 2em;
}
footer nav > *{
    display: inline-block;
}
footer nav  a{
    color: white;
}
footer nav > *+*{
    padding: .5em;
}

@media screen and (min-width:780px){
    header nav{
        background-color: white;
        display:block;
    }
    nav ul{
        margin: 0 auto;
        max-width: 1080px;
        display: flex;
    }
    nav .diff, .diff a{
        margin-left: auto;
        margin-right: 0;
        background-color: hsl(214, 83%, 51%);
        padding-left: .4em;
        padding-right: .4em;
        color: white;
    }
    .logo{
        margin-right: auto ;
        margin-top: .5em;
        color: hsl(214, 83%, 58%);
        font-size: 1.3rem;
    }
    .menu{
        display: none;
    } 
}
@media screen and (min-width: 480px){
    .first-tile{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
        margin-top: 0;
    }
    .first-tile > div{
        margin-top: initial;
    }
}
@media screen and (min-width: 800px){
    .first-tile{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
    }
}

@keyframes enter {
    0%{
        opacity: 0;
        transform: translateY(-1em);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}